[Unit]
Description=Hello World HTTP
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/govirt-api -u xen:/// -p 8888

[Install]
WantedBy=multi-user.target